# Example environment file, all supported options should be here
# commented out environment variables are optional,
# uncommented varirables are required to operate

# port that the rpgtools service will listen on, defaults to 3000
#SERVER_PORT=80

# hostname of mongodb instance to use, this variable is required to use a mongodb database
#MONGODB_HOST=mongodb
# name of the collection to use on the mongodb instance, defaults to 'rpgtools'
#MONGODB_DB_NAME=rpgtools

# hostname of the postgres instance to use, this variable is required to use a postgres database
#POSTGRES_HOST=postgres
# username to use to connect to the postgres database, defaults to 'rpgtools'
#POSTGRES_USER=rpgtools
# password to use to connect to the postgres database, defaults to 'password'
#POSTGRES_PASSWORD=password
# name of the database to use on the postgres instance, defaults to 'rpgtools'
#POSTGRES_DB=rpgtools

# file name of the sqlite database to use, defaults to 'rpgtools'
#SQLITE_DB_NAME=rpgtools
# directory path to sqlite database files, defaults to '/opt/rpgtools/db'
#SQLITE_DIRECTORY_PATH=/opt/rpgtools/db

# url to use if you want redis to cache requests
# see https://github.com/NodeRedis/node-redis#options-object-properties for the possible formats of this url
#REDIS_URL=redis

# Do not use these secrets, you can generate a 2048-bit sized keys with the following unix command:
# openssl rand -base64 256

# If these options are not specified, user sessions will end if the server is restarted

# private key used to sign access token cookies, if not specified it will be generated on start
ACCESS_TOKEN_SECRET="supersecret9000"

# private key used to sign access refresh cookies, if not specified it will be generated on start
REFRESH_TOKEN_SECRET="supersecret9000"

# used to set a predictable unlock code used to setup the first admin user. Recommended not to use in production
# UNLOCK_CODE=unlock_me

# comma seperated list of codes to used to seed a brand new server config with. Recommended not to use in production
# REGISTER_CODES=1234,5678