.vscode/
.idea/
node_modules/
node_modules_prod/
node_modules_dev/
.env
dist/
coverage/
packages/frontend/cypress/screenshots
packages/frontend/cypress/videos
packages/frontend/seed.log
packages/server/jest.env
packages/server/out
db/
containers/
nohup.out
electron.log
profile/
