services:

  #######
  # Dev #
  #######

  dev:
    build:
      context: .
      dockerfile: ./Dockerfile
    user: ${CURRENT_UID}
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/opt/rpgtools
    networks:
      - rpgtools

  ##########
  # SERVER #
  ##########

  server:
    extends:
      service: dev
    command: "npm run --workspace=packages/server dev"
    env_file:
      - .env
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
      - "9229:9229"
    networks:
      - rpgtools
    depends_on:
      - postgres
      - mongodb
      - redis
      - ui-builder

  server-brk:
    extends:
      service: dev
    command: "npm run --workspace=packages/server dev-brk"
    env_file:
      - .env
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
      - "9229:9229"
    networks:
      - rpgtools
    depends_on:
      - postgres
      - redis
      - ui-builder

  prod:
    image: zachanator070/rpgtools:latest
    env_file:
      - .env
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    depends_on:
      - mongodb
      - redis
      - postgres
    networks:
      - rpgtools

  ####################
  # Frontend Builder #
  ####################

  ui-builder:
    extends:
      service: dev
    environment:
      - NODE_ENV
    command: "npm run --workspace=packages/frontend start-dev"

  ############
  # Database #
  ############

  mongodb:
    image: "mongo:latest"
    environment:
      MONGO_INITDB_DATABASE: "rpgtools"
    volumes:
      - ./dev/mongodb-init:/docker-entrypoint-initdb.d
      - ./dev/mongodb-dump:/mongodb-dump
    ports:
      - "27017:27017"
    networks:
      rpgtools:

  postgres:
    image: "postgres:latest"
    environment:
      POSTGRES_USER: "rpgtools"
      POSTGRES_PASSWORD: "password"
      POSTGRES_DB: "rpgtools"
    volumes:
      - ./dev/postgres-dump:/postgres-dump
    ports:
      - "5432:5432"
    networks:
      rpgtools:

  #########
  # Cache #
  #########

  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    networks:
      rpgtools:

networks:
  rpgtools:
