[Unit]
Description=Tool set for playing an RPG game
Documentation=https://github.com/zachanator070/rpgtools
After=docker.service mongodb.service
Wants=docker.service mongodb.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/docker run -p 3000:3000 --env-file=/etc/rpgtools/.env -v /var/run/redis:/var/run/redis --network="host" zachanator070/rpgtools:latest
Restart=always