#app {
	display: flex;
	flex-direction: column;
	height: 100%
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100%;
	width: 100%;
	display: block;
}

.width-65 {
	width: 65%;
}

.width-40 {
	width: 40%;
}

.width-60 {
	width: 60%;
}

.height-100 {
	height: 100%;
}

.inline-block {
	display: inline-block;
}

.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

/*********/
/*PADDING*/
/*********/

/*Small*/
.padding-sm {
	padding: .33em;
}

/*Medium*/
.padding-md {
	padding: 1em;
}

.padding-md-left {
	padding-left: 1em;
}

.padding-md-right {
	padding-right: 1em;
}

/*Large*/
.padding-lg {
	padding: 2em;
}

.padding-lg-top {
	padding-top: 2em;
}

.padding-lg-bottom {
	padding-bottom: 2em;
}

/*********/
/*MARGIN*/
/*********/

/*None*/
.margin-none {
	margin: 0;
}

/*Small*/
.margin-sm {
	margin: .33em;
}

.margin-sm-bottom {
	margin-bottom: .33em;
}

.margin-sm-top {
	margin-top: .33em;
}

.margin-sm-left {
	margin-left: .33em;
}

.margin-sm-right {
	margin-right: .33em;
}

/*Medium*/
.margin-md {
	margin: 1em;
}

.margin-md-right {
	margin-right: 15px;
}

.margin-md-left {
	margin-left: 15px;
}

.margin-md-top {
	margin-top: 1em;
}

/*Large*/
.margin-lg {
	margin: 30px;
}

.margin-lg-top {
	margin-top: 2em;
}

.margin-lg-left {
	margin-left: 2em;
}

.margin-lg-right {
	margin-right: 2em;
}

.margin-lg-bottom {
	margin-bottom: 2em;
}

/*X Large*/
.margin-xlg-top {
	margin-top: 4em;
}

.shadow-sm {
	box-shadow: 0 0 1em;
}

.background-white {
	background-color: white;
}

.nav-bar {
	background-color: white;
	z-index: 10;
	position: relative;
	width: 100%;
}

.selected {
	background-color: #1890ff;
	color: white;
}

.overflow-hidden {
	overflow: hidden;
}

.map-tile {
	z-index: 1;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
}

.highlighted {
	background-color: #1890ff;
	color: white;
}

.upload-list-inline {
	width: 200px;
	margin-right: .5em;
}

div.ant-upload-list-item {
	width: 12.5em;
}

.absolute {
	position: absolute;
}

.absolute-right {
	position: absolute;
	right: 0;
}

.absolute-left {
	position: absolute;
	left: 0;
}

.float-left {
	position: relative;
	float: left;
}

.float-right {
	position: relative;
	float: right;
}

.drawer {
	display: inline;
	z-index: 9;
}

.drawer-content {
	display: inline-block;
	padding: 1em;
	width: 100%;
	height: 100%;
	border-right: thin lightgrey solid;
	border-left: thin lightgrey solid;
	background-color: white;
	overflow: auto;
}

.drawer-button {
	display: inline-block;
	position: absolute;
	margin-left: 1em;
	margin-top: 1em;
	margin-right: 1em;
	background-color: white;
	border-radius: .33em;
	padding: .33em;
	box-shadow: 0 0 .33em;
}

.search-results {
	position: relative;
	top: 1em;
	background-color: white;
}

.map-upload {
	width: 16.5em;
	padding: 2em;
	margin: auto;
}

.message-box {
	border: thin solid lightgrey;
	border-radius: .33em;
	padding: 1em;
	height: 19em;
	overflow: auto;
}

.breadcrumbs {
	background-color: white;
	z-index: 9;
	padding: .33em;
	position: relative;
	border-bottom: thin solid lightgrey;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
}

.flex-grow-1 {
	flex-grow: 1;
}

.position-relative {
	position: relative;
}

.folderItem {
	display: flex;
}

.pointer {
	cursor: pointer;
}

#viewer {
	border: none;
}

.ql-editor li,
p,
blockquote {
	font-size: medium;
}

.ql-toolbar {
	position: sticky;
	top: -1em;
	z-index: 1;
	background: white;
}

@keyframes arrow-rotate-back {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-90deg);
	}
}

@keyframes arrow-rotate {
	from {
		transform: rotate(-90deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.ant-tabs-content {
	height: 100%;
}
