/* Modal Dark Mode Styles */

[data-theme="dark"] .ant-modal-content, .ant-modal-header {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
}

[data-theme="dark"] .ant-modal-close-icon, .ant-modal-title {
  color: var(--text-primary) !important;
}
