
div.root {
    display: flex;
    background-color: lightgray;
    color: darkslategrey;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
}

div.side {
    flex: 1 0;
    background-color: lightgray;
}

div.center {
    flex: 4 2;
    text-align: center;
    background-color: white;
    padding-bottom: 5em;
    padding-left: 3em;
    padding-right: 3em;
}

p.attribution {
    color: darkgray;
    font-size: .75em;
    margin-top: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    margin-top: 5em;
    font-size: 2em;
}

.tab {
    padding: .75em;
    display: table;
    text-align: left;
    border-top: solid thin black;
    border-left: solid thin black;
    border-right: solid thin black;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}

video {
    width: 100%;
}

p.description {
    margin-top: 5em;
    margin-bottom: 5em;
}

img.logo {
    width: 7em;
}